{% load static %}

<section id="cart">
    <div class="container">

        <div class="cart-product-info">

            <!-- signup banner -->
            <div class="cart-header">

                <div class="cart-title">
                    <h1>Cart (<span id="cart-quantity" aria-live="polite"></span>)</h1>
                </div>

                <div class="login">
                    <p class="login_info"><span class="bold underline">Sign in</span> to easily redeem. Rewards for
                        faster checkout
                    </p>
                </div>
            </div>

            <!-- reward banner -->
            <div class="reward">

                <div class="head">
                    <img src="{% static 'images/credit-cards.jpg' %}" alt="Various credit cards" class="cart-image" loading="lazy">
                </div>

                <div class="body">
                    <p class="small-heading">Earn and Reward</p>
                    <p>
                        In reward pounds on this purchase and <span>10%</span> back in rewards pounds on purchases
                        at EU & Create
                    </p>
                </div>

            </div>

            <!-- shipping info banner -->
            <div class="info">
                <p>All items in your cart marked Ships Free will ship FREE</p>
            </div>

            <div class="cards">

           

            {% for product in products %}
            <div class="product" aria-labelledby="product{{ product.id}}" id="product{{product.id}}-div">

                <!-- The card/product head -->
                <div class="head">

                    <!-- product name -->
                    <div class="product-name">
                        <h1 id="product1" class="green capitalize">{{ product.name }}</h1>
                        <small><span class="upperCase bold">sku:</span> BTESSWEFSXEE-{{ product.id }}-{{ product.quantity }}</small>
                    </div>

                    <!-- quantity -->
                    <div class="quantity">
                        <div class="decrease box" role="button" aria-label="Decrease quantity" tabindex="0">
                            {% load static %}
                            <img src="{% static 'images/subtract-circle-minus-remove.svg' %}" alt="Decrease quantity"
                                data-productID="product{{product.id}}-qty"
                                data-productName="{{ product.name | title }}"
                                data-productDescr="{{ product.short_descripton }}"
                                data-currentPrice="£{{ product.price }}"
                                class="quantity-icon decrease-quantity clickable-icon"
                                loading="lazy">
                            
                        </div>
                        <div class="number box bold" aria-live="polite" id="product{{ product.id }}-qty">1</div>

                        <div class="increase box" role="button" aria-label="Increase quantity" tabindex="0">
                            
                            <img src="{% static 'images/plus-circle.svg' %}" alt="Increase quantity" 
                            data-productID="product{{ product.id }}-qty"
                            data-productName="{{ product.name | title }}"
                            data-productDescr="{{ product.short_descripton }}"
                            data-currentPrice="£{{ product.price }}"
                            loading="lazy"
                            class="quantity-icon increase-quantity clickable-icon">
                        </div>

                    </div>

                    <!-- price -->
                    <div class="price">
                        <p class="red small-heading">
                            <span aria-hidden="true" aria-live="polite" aria-relevant="text" id="product{{ product.id }}-price" class="product-price">£{{ product.price }}</span>
                            <span class="sr-only" aria-label="Price: {{ product.price }} pounds">Price: <span id="product{{ product.id }}-price-span">£100</span></span>
                        </p>
                    </div>

                </div>

                <hr>

                <!-- The card/product body -->
                <div class="body">

                    <!-- image -->
                    <div class="image">
                        <img src="{{ product.product_image }}" alt="product image" class="cart-product-image" loading="lazy" >
                    </div>

                    <!-- product description -->
                    <div class="product-description">
                        <p class="product-name small-heading">PureStride White Trainers</p>

                        <p class="padding-top">
                           {{ product.description }}
                        </p>

                        <p class="padding-top bold underline padding-bottom-sm capitalize" aria-label="Additional information">additional information</p>

                        <div aria-live="polite">
                            <p>
                                <span class="bold">Info:</span> <span id="stock-status">In stock and ready to
                                    ship</span>
                            </p>
                        </div>
                        <p><span class="bold">Quantity:</span> {{ product.quantity }}</p>
                        <p><span class="bold">Shipping:</span> Standard</p>
                        <p><span class="bold">Arrival:</span> Arrives in 6 to 7 working days</p>

                    </div>

                    <!-- activity e.g remove/add -->
                    <div class="activity">
                        <div class="remove box" aria-label="Remove item from cart">
                            <img src="{% static 'images/x-letter.svg' %}" alt="Remove icon" 
                                loading="lazy" aria-hidden="true" data-removeDivId="product{{ product.id }}-div" class="clickable-icon">
                        </div>

                        <div class="save-to-later box" aria-label="Save item for later">
                            <img src="{% static 'images/save.svg' %}" alt="Save icon" aria-hidden="true" class="clickable-icon save-img-icon" loading="lazy" 
                                data-productName="{{ product.name | title }}"
                                data-productDescr="{{ product.short_descripton }}"
                                data-productID="product{{ product.id }}-qty"
                                data-currentPrice="£{{ product.price }}"
                                data-removeDivId="product{{ product.id }}-div">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

            

        </div>

        <!-- the side cart item e.g price, tax -->
        <div class="cart-summary" id="cart-summary">

            <div class="cart-container">
                <h1><span><img src="{% static '/images/lock.svg' %}" alt="A image of a lock" class="cart-icon" loading="lazy"></span> Cart
                    Summary </h1>
                <dl class="cost-breakdown">
                    <dt>Mechanise</dt>
                    <dd class="price" id="price-total">£220.00</dd>
                </dl>

                <dl class="cost-breakdown">
                    <dt>Est. Shipping and Handling</dt>
                    <dd class="price" id="shipping-and-handling">£25.00</dd>
                </dl>

                <dl class="cost-breakdown">
                    <dt class="red">Shipping discount</dt>
                    <dd class="price red bold">-£25.00</dd>
                </dl>

                <dl class="cost-breakdown">
                    <dt>Est. Tax</dt>
                    <dd class="price" id="price-tax">£25.00</dd>
                </dl>

                <div class="cost-breakdown">
                    <small class="red">Estimated Tax for #25488</small>

                </div>
                <hr class="dividor">

                <dl class="cost-breakdown">
                    <dt class="bold">Estimated Order total</dt>
                    <dd class="price" id="order-total">£0.00</dd>
                </dl>

                <hr class="dividor">

                <div class="apply-form">
                    <form action="" method="post" id="apply-form">
                        
                        <label for="apply-input" class="apply-promotion capitalize bold padding-bottom-sm">
                            Apply a promotion code
                        </label>
                        <p class="padding-bottom-sm">Remove any spaces before hitting apply</p>

                        <div class="form-group">

                            <input type="text" name="apply" id="apply-input" maxlength="25">
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">


                            <button type="button" class="upperCase">Apply</button>
                        </div>
                      
                    </form>
                </div>

                <a href="#">
                    <button class="button-lg upperCase black">Checkout Now</button>
                </a>
                <small class="center">By continuing to checkout you are agreeing to our <a href="#"
                        class="capitalize underline">terms of use</a>
                    and <a href="#" class="capitalize underline">Privacy Policy</a></small>


                <hr class="dividor">

                <p class="center">Or use another checkout method</p>
                <div class="paypal-btn">

                    <!-- PayPal Logo -->
                    <table border="0" cellpadding="10" cellspacing="0" align="center"
                        class="paypal-button-table-link">
                        <tr>
                            <td align="center"></td>
                        </tr>
                        <tr>
                            <td align="center">
                                <a href="https://www.paypal.com/uk/webapps/mpp/paypal-popup"
                                    title="How PayPal Works"
                                    onclick="javascript:window.open('https://www.paypal.com/uk/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;">
                                    <img src="https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-100px.png"
                                        loading="lazy" 
                                        border="0" alt="PayPal Logo"></a>
                            </td>
                        </tr>
                    </table><!-- PayPal Logo -->
                </div>

            </div>

            <small class="capitalize padding-top">shipping intenationally</small>
        </div>

    </div>

    </div>
</section>