{% load static %}
<footer>

    <div class="container">

        <div class="left-footer-side">
            <div class="follow-us">

                <p class="bold">Sign up for our emails to get the inside scope of special offers or new products</p>

                <div class="signup padding-top ">

                    <div class="signup-btn">
                        <a href="#">Sign up</a>
                    </div>

                    <div class="stay-in-touch">
                        <p class="padding-bottom-sm">Stay in touch</p>
                        <a href="#"><small class="bold underline">Privacy policy</small></a>
                    </div>


                </div>

                <div class="socials padding-top">
                    <img src="{% static 'images/instagram.svg' %}" alt="Instagram Icon" class="social-icons" loading="lazy">
                    <img src="{% static 'images/facebook.svg' %}" alt="Facebook icon" class="social-icons" loading="lazy">
                    <img src="{% static 'images/gmail.svg' %}" alt="Gmail Icon" class="social-icons" loading="lazy">
                    <img src="{% static 'images/twitter.svg' %}" alt="Twitter icon" class="social-icons" loading="lazy">
                </div>

            </div>

            <div class="customer-service">
                <p class="capitalize custom-h4">Customer services</p>
                <ul>
                    <li><a href="#">Customer Service</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Returns & Exchanges</a></li>
                    <li><a href="#">Shipping Information</a></li>
                </ul>
            </div>
        </div>


        <div class="right-footer-side">
            <div class="about-us padding-left-md">
                <p class="capitalize custom-h4">About Us</p>
                <ul>
                    <li><a href="#">Our Story</a></li>
                    <li><a href="#">Our Team</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Sustainability</a></li>
                    <li><a href="#">Press & Media</a></li>
                </ul>

            </div>

            <div class="shop">
                <p class="capitalize custom-h4">Shop</p>
                <ul>
                    <li><a href="#">New Arrivals</a></li>
                    <li><a href="#">Best Sellers</a></li>
                    <li><a href="#">Categories</a></li>
                    <li><a href="#">Gift Cards</a></li>
                    <li><a href="#">Special Offers</a></li>
                </ul>

            </div>

            <div class="legal">
                <p class="capitalize custom-h4">Legal</p>
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Cookie Policy</a></li>
                    <li><a href="#">Accessibility Statement</a></li>
                    <li><a href="#">Legal Disclaimer</a></li>
                </ul>

            </div>


        </div>

    </div>


</footer>
