<section id="general-information">
    <hr class="general-information-hr">
    <div class="container">

        <div class="main">
            <div class="returns">
                <p class="small-heading">Returns made Easy</p>

                <p class="padding-bottom-sm">At EU and create, we stand behnind the quality of our products, and
                    want every purchase to be postive experience</p>
                <a href="#" class="capitalize underline">Our return exchange policy</a>
            </div>

            <div class="store-pickup">
                <p class="padding-bottom-sm">
                    Make purchases online and pickup your item at any store or
                    warehouse of your choice. Get your item faster and avoid
                    shipping charges.
                </p>
                <a href="#" class="capitalize underline">Store pickup FAQ</a>
            </div>
        </div>

        <div class="side">
            <p class="small-heading">International Shipping</p>
            <p class="padding-bottom-sm"> Shipping outside UK?</p>
            <p>Complete the <a href="#" class="capitalize underline">International Order quote</a> form
                for eligible merchandise totaling more than £1000
            </p>

            <p class="padding-top">
                Shipping to Scotland? <a href="#" class="capitalize underline">Shop at our Scotland store</a>
            </p>
        </div>


    </div>
</section>
