{% load static %}

<section id="things-you-may-like">
    <div class="container">

        <h1 class="padding-top padding-bottom-sm capitalize">Things you may like</h1>

        <div class="likeable-images">

            <img src="{% static 'images/p3.jpg.webp' %}" alt="likable product image" class="likable-product-image" loading="lazy">
            <img src="{% static 'images/p4.jpg.webp' %}" alt="likable product image" class="likable-product-image" loading="lazy">
            <img src="{% static 'images/p5.jpg.webp' %}" alt="likable product image" class="likable-product-image" loading="lazy">
            <img src="{% static 'images/p6.jpg.webp' %}" alt="likable product image" class="likable-product-image" loading="lazy">
            <img src="{% static 'images/p7.jpg.webp' %}" alt="likable product image" class="likable-product-image" loading="lazy">
            <img src="{% static 'images/p8.jpg.webp' %}" alt="likable product image" class="likable-product-image" loading="lazy">
            

        </div>

    </div>
</section>
