{% load static %}

<section id="save-sidebar">

    <div class="save-container">

        <div class="close flex-end">
            <img src="{%static '/images/window-close.svg' %}" alt="The close window icon" class="icon hide" id="window-icon">
        </div>

        <div class="header center">
            <h1 class="kristi-regular">EU & Create</h1>
        </div>

        <div id="saved-products">
            <div class="save-sidebar-msg center">
                <h1>Nothing to see</h1>
            </div>
            <div class="cards">

              
            </div>

        </div>
    </div>
</section>