
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kristi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
}

:root {
    --padding-xs: 4px;
    --padding-sm: 8px;
    --padding-md: 16px;
    --padding-lg: 32px;
    --padding-xl: 64px;
    --font-lg: 2.5rem;

    --width: 70%;
    --box-shadow-primary: box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


/* native elements */
/* anchor tags */
a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: green;
    font-weight: bold;
}



hr {
    border: 1px solid rgb(189, 187, 187);
    color: gray;
    margin-top: 4px;
}


/* header elements */
h2 {
    color: darkgreen;
}

span {
    cursor: pointer;
}


/* Buttons */
button {
    cursor: pointer;
}

button:hover {
    background: black;
    color: white;
}



body {
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
    
}

header {
    margin: var(--padding-md);
    cursor: [pointer];
}

input::placeholder {
    font-family: "Roboto", serif;
}

input {
    border: 3px solid lavender;
    height: 30px;
}

 li  {
    list-style: none;
 }


/* variables */

.black {
    background: black;
    color: white;
}


.bold {
    font-weight: bold;
}



.capitalize {
    text-transform: capitalize;
}


.center {
    justify-content: center;
    align-items: center;
    text-align: center;
}


.discount {
    text-decoration: line-through;
    color: red;
}
.title {
    font-size: var(--font-lg);
    font-weight: bolder;
}

.upperCase {
    text-transform: uppercase;
}

.underline {
    text-decoration: underline;
}
  

/* colours */

.red {
    color: red;
}


.green {
    color: green;
}


/* Fonts styles  */
.kristi-regular {
    font-family: "Kristi", serif;
    font-weight: 400;
    font-style: normal;
  }


/* Flex elements */
  .flex-space-evenly {
    display: flex;
    justify-content: space-evenly;
    margin-top: var(--padding-lg);
}
  

/* padding and margins */
.padding-top {
    margin-top: var(--padding-lg);
}

.padding-bottom-sm {
    padding-bottom: 4px;
}

.padding-left-md {
    padding-left: var(--padding-md);
}


/* the navigation */
nav {
    cursor: pointer;
}

.nav-head {
    display: flex;
    justify-content: space-between;
    
}

.nav-head__head a:first-child {
    padding-left: 0;
}

.nav-head__head a {
  
    padding-left: 10px;
    padding-right: 10px;
    
}


.nav-img {
    width: 100px;
    height: 50px;
}   


.nav-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin-top: var(--padding-lg);
}


#nav-search {
    width: var(--width);
    height: 40px;
    border: 1px solid black;
    font-size: 1rem;
}

.nav-toolbar-link {
    text-transform: uppercase;
    font-size: 0.8rem;
}

.nav-toolbar {
    width: 60%;
    margin: auto;
}

.nav-toolbar .nav-toolbar__row a {
    color: gray;
    font-weight: bold;
}

.nav-banner {
    background: black;
   
}
    
.nav-banner .nav-toolbar__row a {
    color: white;
    padding-top: var(--padding-sm);
    padding-bottom: var(--padding-sm);
    font-weight: bold;
}


.nav-icon {
    height: 20px;
    width: 20px;
    
}

.nav-percentage-off {
    padding-top: var(--padding-sm);
    padding-bottom: var(--padding-sm);
}



/* cart section */
.container {
    display: grid;
    grid-template-columns: 70% 30%;
    /* grid-template-rows: auto; */
    column-gap: 20px;
    width: 95%;

    
    margin: var(--padding-lg);
}

.cart-flex-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 10px;
}

.cart-header {
    display: flex;
    justify-content: space-between;
}

.reward {
    padding: 10px;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    justify-content: space-evenly;
    margin-top: var(--padding-lg);
    box-shadow: var(--box-shadow-primary);
    border: 1px solid lavender;
}

.cart-image {
    height: 100px;
    width: 100px;
    box-shadow: var(--box-shadow-primary);
}

.info {
    box-shadow: var(--box-shadow-primary);
    border: 1px solid lavender;
    color: red;
    margin-top: var(--padding-sm);
    margin-bottom: var(--padding-sm);
    padding: var(--padding-sm);
    font-size: 0.8rem;
    font-weight: bold;
}

.cost-breakdown {
    display: flex;
    justify-content: space-between;
    margin-top: var(--padding-md);

}

.cart-summary {
    border: 3px solid lavender;
    padding: var(--padding-lg);
    box-shadow: var(--box-shadow-primary);
    cursor: pointer;
}

#apply-form {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
    gap: 2px;
    margin-bottom: var(--padding-lg);
}

.apply-form {
    margin-top: var(--padding-md);
}

#apply-input {
    font-size: 1rem;
}
.button-lg {
    width: 100%;
    padding: var(--padding-md);
}

.paypal-button-table-link {
    width: 100%;
    border: 2px solid lavender;
    margin-top: var(--padding-sm);
    cursor: pointer;
    background: #FFC439;
    padding: 2px;
    box-shadow: var(--box-shadow-primary);
}
.paypal-button-table-link:hover {
    background: black;
}

.card-container div {
    margin-bottom: var(--padding-md);
}

.dividor {
    margin-top: var(--padding-lg);
    margin-bottom: var(--padding-lg);
}


.cart-icon {
    height: 30px;
    width: 30px;
}

.product .head {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.product .head .price {
    display: flex;
    justify-content: flex-end;
}

.quantity {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}


.quantity-icon {
    height: 20px;
    width: 20px;
    text-align: center;
}

.box {
    text-align: center;
    padding: 4px;
    cursor: pointer;
}

.product {
    border: 3px solid lavender;
    margin-top: 10px;
    padding: 10px;
    box-shadow: var(--box-shadow-primary);
}
.product-name p {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.2rem;
}

.product .body {
    display: grid;
    grid-template-columns: 25% 60% 15%;
    grid-template-rows: auto;
    column-gap: 10px;
    margin-top: 10px;

}

.cart-product-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 6px solid lavender;
    cursor: pointer;
  
}


/* Footer elements */
footer {
    border-top: 2px solid lavender;
    margin-bottom: var(--padding-sm);
    margin-top: var(--padding-xl);
}

footer .container {
    font-size: 0.9rem;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;

    column-gap: var(--padding-lg);
    width: 90%;
}

.left-footer-side {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
}


/* social icons */
.social-icons {
    height: 20px;
    width: 20px;
    margin-right: var(--padding-md);
   
}

.signup  {
    display: grid;
    grid-template-columns: 20% 75%;
    grid-template-rows: auto;
}

ul li  {
    
    padding-top: var(--padding-sm);
    padding-bottom: var(--padding-sm);
    font-size: 0.8rem;
}

.right-footer-side {
    border-left: 1px solid black;
}

.right-footer-side {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: var(--padding-lg);
}


/* Resets grid for containers so it doesn't affect any container with .container */
#things-you-may-like .container {
    display: block; 
    grid-template-columns: none; 
    grid-template-rows: none;
    column-gap: 0;
   
    margin: auto;  
    
}
.likeable-images {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 5px;
    box-shadow: var(--box-shadow-primary);
    border: 3px solid lavender;
}

.likable-product-image {
    height: 120px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.likable-product-image:hover {
    transform: scale(1.01);
}


#gift-info {
    width: 95%;
    margin: auto;
}

#general-information .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    width: var(--width);
}

#general-information .container div {
    margin-bottom: var(--padding-lg);

}

.general-information-hr {
    width: 95%;
    margin: auto;
    margin-top: var(--padding-lg);
}

#general-information .container h3 {
    padding-bottom: var(--padding-sm);
}




img:hover {
    opacity: 0.8;
    transform: scale(1.02);
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
