{% extends "base.html" %}
{% load static %}

{% block title %}Cart{% endblock title %}
{% block meta-content %}{% endblock meta-content %}


{% block body %}

    <!-- The cart section -->
    {% include 'partials/cart_items.html' %}

     <!-- The gift section -->
    {% include 'partials/gift_section.html' %}

     <!-- The recommedation section -->
    {% include 'partials/recommended_products.html' %}

     <!-- The general information section -->
    {% include 'partials/general_information.html' %}

     <!-- The  sidebar section -->
    {% include 'partials/sidebar.html' %}

   
    {% include "partials/popup_message.html" %}
  

{% endblock body %}

{% block script %}<script src="{% static 'js/cart.js'%}" type="module" defer></script>{% endblock script %}


   









