<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css.css">
    <title>Document</title>
</head>
<body>
    
    <header>
        <nav>
            <!-- the header of the nav -->
             
            <hr class="nav-line">

            <div class="nav-head">
                
                <div class="nav-head__head">
                    <a href="#">Create&Barrel</a>
                    <a href="#">Create&Kids</a>
                    <a href="#">CB</a>
                </div>

                <div class="nav-footer">
                    <p><span class="bold">Earn 10% Back in Reward Dollars</span> Learn more &RightArrow;</p>
                </div>
            </div>

            <hr class="nav-line">

            <div class="nav-body center">
                <div class="head">
                    <input type="search" name="search" id="nav-search" placeholder="Enter your search..." maxlength="255">
                </div>

                <div class="body">
                    <h1 class="title kristi-regular">EU&Create</h1>
                </div>

                <div class="footer">
                    <div class="row flex-space-evenly">
                        <a href="#">Orders and sign <span><img src="../static/images/user (1).svg" alt="" class="nav-icon"></span></a>
                        <a href="#">wishlist <span><img src="../static/images/heart.svg" alt="" class="nav-icon"></span>
                        <span class="nav-quantity wishlist-quantity">4</span>
                        </a>
                        <a href="#">cart <span><img src="../static/images/cart.svg" alt="" class="nav-icon"></span>
                        <span class="nav-quantity cart-quantity">1</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="nav-toolbar center">
                <div class="nav-toolbar__row flex-space-evenly">
                    <a href="#" class="nav-toolbar-link">Wedding registry</a>
                    <a href="#" class="nav-toolbar-link">Design service</a>
                    <a href="#" class="nav-toolbar-link">Design program</a>
                    <a href="#" class="nav-toolbar-link">Father's day</a>
                    <a href="#" class="nav-toolbar-link">Mother's day</a>
                    <a href="#" class="nav-toolbar-link">Birthday gifts</a>
                </div>
            </div>

            <div class="nav-banner">
                <div class="nav-toolbar__row flex-space-evenly">
                    <a href="#" class="nav-toolbar-link">Furniture</a>
                    <a href="#" class="nav-toolbar-link">Top shoes</a>
                    <a href="#" class="nav-toolbar-link">Items on sale</a>
                    <a href="#" class="nav-toolbar-link">Arabian Rugs</a>
                    <a href="#" class="nav-toolbar-link">Gifts</a>
                    <a href="#" class="nav-toolbar-link">Sales</a>
                </div>
            </div>
            <div class="nav-percentage-off center">
                <p>Get up to 60% of on your orders. Items ready to be shipped immediately after order.</p>
            </div>
            <hr>


        </nav>

        
    </header>


    <div class="cart">

        <div class="cart-main">

        </div>

        <div class="cart-side summary">

        </div>


    </div>


    <div class="items-you-may-like">

    </div>


    <div class="general-information">

        <div class="body">

        </div>

        <div class="footer">

        </div>

    </div>

</body>
</html>