<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css.css">
    <title>Document</title>
</head>

<body>
    <header>
        <nav aria-label="Main Navigation">

            <!-- Navigation Header -->
            <hr class="nav-line" aria-hidden="true">

            <div class="nav-head">
                <div class="nav-head__head">
                    <a href="#" aria-label="Visit Create & Barrel">Create & Barrel</a>
                    <a href="#" aria-label="Visit Create & Kids">Create & Kids</a>
                    <a href="#" aria-label="Visit CB">CB</a>
                </div>

                <div class="nav-footer">
                    <p><span class="bold">Earn 10% Back in Reward Dollars</span> <a href="#">Learn more &RightArrow;</a>
                    </p>
                </div>
            </div>

            <hr class="nav-line" aria-hidden="true">

            <!-- Navigation Body -->
            <div class="nav-body center">
                <section class="head">
                    <label for="nav-search" class="sr-only">Search the site</label>
                    <input type="search" name="search" id="nav-search" placeholder="Enter your search..."
                        maxlength="255">
                </section>

                <section class="body">
                    <h1 class="title kristi-regular">EU & Create</h1>
                </section>

                <section class="footer">
                    <div class="row flex-space-evenly">
                        <a href="#" aria-label="View orders and sign in">Orders and Sign In
                            <img src="../static/images/user (1).svg" alt="" class="nav-icon" aria-hidden="true">
                        </a>
                        <a href="#" aria-label="View wishlist with 4 items">Wishlist
                            <img src="../static/images/heart.svg" alt="" class="nav-icon" aria-hidden="true">
                            <span class="nav-quantity wishlist-quantity">4</span>
                        </a>
                        <a href="#" aria-label="View cart with 1 item">Cart
                            <img src="../static/images/cart.svg" alt="" class="nav-icon" aria-hidden="true">
                            <span class="nav-quantity cart-quantity">1</span>
                        </a>
                    </div>
                </section>
            </div>

            <!-- Navigation Toolbar -->
            <div class="nav-toolbar center">
                <div class="nav-toolbar__row flex-space-evenly">
                    <a href="#" class="nav-toolbar-link">Wedding Registry</a>
                    <a href="#" class="nav-toolbar-link">Design Service</a>
                    <a href="#" class="nav-toolbar-link">Design Program</a>
                    <a href="#" class="nav-toolbar-link">Father's Day</a>
                    <a href="#" class="nav-toolbar-link">Mother's Day</a>
                    <a href="#" class="nav-toolbar-link">Birthday Gifts</a>
                </div>
            </div>

            <!-- Navigation Banner -->
            <div class="nav-banner">
                <div class="nav-toolbar__row flex-space-evenly">
                    <a href="#" class="nav-toolbar-link">Furniture</a>
                    <a href="#" class="nav-toolbar-link">Top Shoes</a>
                    <a href="#" class="nav-toolbar-link">Items on Sale</a>
                    <a href="#" class="nav-toolbar-link">Arabian Rugs</a>
                    <a href="#" class="nav-toolbar-link">Gifts</a>
                    <a href="#" class="nav-toolbar-link">Sales</a>
                </div>
            </div>

            <!-- Promotional Message -->
            <div class="nav-percentage-off center">
                <p>Get up to <span class="discount">80%</span> 60% off on your orders. Items ready to be shipped immediately after order.</p>
            </div>

            <hr aria-hidden="true">
        </nav>
    </header>



    <section id="cart">
        <div class="container">

            <!-- the main cart -->
            <div class="cart-product-info">

              <div class="cart-header">

                    <div class="cart-title">
                        <h1>Cart (<span id="cart-quantity">1</span>)</h1>
                    </div>

                    <div class="login">
                        <p class="login_info"><span class="bold underline">Sign in</span> to easily redeem. Rewards for faster
                            checkout</p>
                    </div>

              </div>

          
              <div class="reward">

                    <div class="head">
                        <img src="../static/images/credit-cards.jpg" alt="credit card images" class="cart-image">
                    </div>

                    <div class="body">
                        <h3>Earn and Reward</h3>
                        <p>
                            In reward pounds on this purchase and <span>10%</span> back in rewards pounds on purchases
                            at EU & Create
                        </p>
                    </div>

              </div>

              <div class="info">
                <p>All items in your cart marked Ships Free will ship FREE</p>
              </div>
               

            </div>

           

            <!-- the side cart item e.g price, tax -->
            <div class="cart-summary">
               
                <div class="cart-container">
                    <h1><span><img src="../static/images/lock.svg" alt="" srcset="" class="cart-icon"></span> Cart Summary </h1>
                        <div class="cost-breakdown">
                            <p>Mechanise</p>
                            <p class="price">£100.00</p>
                        </div>

                        <div class="cost-breakdown">
                            <p>Est. Shipping and Handling</p>
                            <p class="price">£25.00</p>
                        </div>

                        <div class="cost-breakdown">
                            <p class="red">Shipping discount</p>
                            <p class="price red bold">-£25.00</p>
                        </div>

                        <div class="cost-breakdown">
                            <p>Est. Tax</p>
                            <p class="price">£25.00</p>
                        </div>

                        <div class="cost-breakdown">
                            <small class="red">Estimated Tax for #25488</small>
                            
                        </div>
                        <hr class="dividor">

                        <div class="cost-breakdown">
                            <p class="bold">Estimated Order total</p>
                            <p class="price">£150.00</p>
                        </div>

                        <hr class="dividor">

                        <p class="apply-promotion bold">Apply a promotion code</p>
                        <p >Remove any spaces before hitting apply</p>

                        <div class="apply-form">
                            <form action="" method="post" id="apply-form">
                                <input type="text" name="apply" id="apply-input" maxlength="25">
                                
                                <button type="button" class="upperCase">Apply</button>
                            </form>
                        </div>

                        <a href="#">
                            <button class="button-lg upperCase black">Checkout Now</button>
                        </a>
                        <small class="center">By continuing to checkout you are agreeing to our <a href="#" class="capitalize underline">terms of use</a>
                             and <a href="#"class="capitalize underline">Privacy Policy</a></small>

                        
                        <hr class="dividor">

                        <p class="center">Or use another checkout method</p>
                        <div class="paypal-btn">

                            <!-- PayPal Logo -->
                             <table border="0" cellpadding="10" cellspacing="0" align="center" class="paypal-button-table-link">
                                <tr><td align="center"></td></tr><tr><td align="center">
                                    <a href="https://www.paypal.com/uk/webapps/mpp/paypal-popup" title="How PayPal Works"
                                            onclick="javascript:window.open('https://www.paypal.com/uk/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;">
                                        <img src="https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-100px.png" border="0" alt="PayPal Logo"></a></td></tr></table><!-- PayPal Logo -->
                        </div>

                     </div>

                     <small class="capitalize padding-top">shipping intenationally</small>
                </div>
              
            </div>

        </div>
    </section>


    <div class="items-you-may-like">

    </div>


    <div class="general-information">

        <div class="body">

        </div>

        <div class="footer">

        </div>

    </div>

</body>

</html>